.calc-grid {
    background: grey;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    width: 250px;
}

.calc-grid div {
    align-items: center;
    background: white;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.calc-display {
    grid-column: 1 / 5;
}

.calc-clear-btn {
    grid-column: 1 / 3;
}

.calc-delete-btn {
    grid-column: 3 / 5;
}
