.header {
    font-family: 'Helvetica';
    margin: 50px auto 25px auto;
    text-align: center;
    width: 500px;
}

.header-header {
    font-size: 100px;
    font-weight: 900;
}

.device {
    display: flex;
    justify-content: center;
}

.header-body {
    color: rgb(115, 115, 115);
    font-size: 20px;
}

.calc {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 20px;
}

.calc div {
    display: flex;
    font-family: sans-serif;
    user-select: none;
}

.calc div:not(.calc-display) {
    align-items: center;
    font-size: 30px;
}

.calc div:not(.calc-display, .calc-zero-btn) {
    border-radius: 50%;
    height: 75px;
    justify-content: center;
    width: 75px;
}

.calc div:not(.calc-display):active {
    background: rgb(192, 192, 192);
}

.calc-ac-btn, .calc-c-btn, .calc-percent-btn {
    background: #D4D4D2;
}

.calc-bg {
    background: rgb(35, 35, 35);
    height: 100%;
}

.calc-display {
    align-items: bottom;
    background: rgb(35, 35, 35);
    color: white;
    font-size: 75px;
    grid-column: 1 / 5;
    justify-content: right;
    margin-top: 100px;
}

.calc-input-btn {
    background: #505050;
    color: white;
}

.calc-operator-btn, .calc-equals-btn {
    background: #FF9500;
    color: white;
}

.calc-zero-btn {
    border-radius: 50px;
    grid-column: 1 / 3;
    padding-left: 30px;
}

.footer {
    font-family: "Helvetica";
    margin: 35px auto 50px auto;
    text-align: center;
}

.footer-text-license {
    font-size: 30px;
}

.footer-text-copyright {
    color: rgb(115, 115, 115);
}