@import 'objectStyles/calcStyle.css';
@import 'objectStyles/colorButtonsStyle.css';
@import 'objectStyles/infoSectionStyle.css';

body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Helvetica';
    justify-content: center;
    margin-top: 50px;
}

.user-interface {
    display: flex;
}