.calc {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 20px;
}

.calc div {
    user-select: none;
}

.calc div:not(.calc-display) {
    align-items: center;
    display: flex;
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    font-size: 30px;
}

.calc div:not(.calc-display, .calc-zero-btn) {
    border-radius: 50%;
    height: 75px;
    justify-content: center;
    width: 75px;
}

.calc div:not(.calc-display):active {
    background: rgb(192, 192, 192);
}

.calc-ac-btn, .calc-c-btn, .calc-percent-btn {
    background: #D4D4D2;
}

.calc-bg {
    background: grey;
    height: 100%;
}

.calc-display {
    background: white;
    grid-column: 1 / 5;
    height: 50px;
}

.calc-input-btn {
    background: #505050;
    color: white;
}

.calc-operator-btn, .calc-equals-btn {
    background: #FF9500;
    color: white;
}

.calc-zero-btn {
    border-radius: 50px;
    grid-column: 1 / 3;
    padding-left: 30px;
}

.device-container{
    display: flex;
    justify-content: center;
}