.calc {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 20px;
}

.calc-bg {
    background: grey;
    height: 100%;
}

.calc div {
    background: white;
    user-select: none;
}

.calc div:not(#calc-display) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.calc div:not(#calc-display):active {
    background: rgb(192, 192, 192);
}

#calc-display {
    grid-column: 1 / 5;
    height: 50px;
}

#device-container{
    display: flex;
    justify-content: center;
}